.article-title {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  line-height: 130%;
}

.article-link-back {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  text-decoration: none;
  color: inherit;
}

.article-link-back::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/arr-back.svg') center/cover no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.article-author {
  display: inline-block;
  margin-left: 1000px;
}