.header {
  padding: 27px 0;
}

.header__container {
  display: grid;
  grid-template-columns: 190px 1fr 4.3fr 1fr;
  grid-template-areas: 'logo menu search icon';
  align-items: center;
  column-gap: 99px;
}

.header__logo {
  width: 190px;
  padding-top: 20px;
  grid-area: logo;
}

.header__btn {
  width: 151px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  grid-area: menu;
  gap: 3px;
  padding: 9px 28px 12px 30px;
  color: var(--color-text);
  border-radius: 10px;
  background-color: var(--color-btn);
}

.header__icon-menu {
  width: 24px;
  height: 24px;
}

.search {
  position: relative;
  width: 100%;
  grid-area: search;
}

.search__input {
  width: 100%;
  padding: 15px 141px 18px 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  border-radius: 30px;
  background-color: #efefef;
  outline: none;
  border: none;
}

.search__input::placeholder {
  color: #8f8f8f;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 9px 33px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  border-radius: 30px;
  background: var(--color-btn);
}

.search__icon {
  width: 36px;
  height: 36px;
}

.header__btns {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 70px;
  grid-area: icon;
}

.header__btn-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}

.header__icon {
  width: 36px;
  height: 36px;
}

.header__icon_cart {
  width: 31px;
  height: 30px;
}

@media (max-width: 1366px) {
  .header__container {
    column-gap: 40px;
  }

  .header__btns {
    gap: 40px;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 34px 0;
  }

  .header__container {
    grid-template-columns: 1fr 3.4fr;
    grid-template-areas: 'logo icon' 'menu search';
    gap: 34px;
  }

  .header__btn {
    justify-self: flex-start;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 25px 0;
  }

  .header__container {
    grid-template-columns: 1fr 3.38fr;
    gap: 24px 0;
  }

  .header__logo {
    padding-top: 10px;
  }

  .header__btn {
    width: 115px;
    height: 42px;
    justify-content: space-between;
    padding: 8px 21px 10px;
    font-size: 16px;
    border-radius: 6px;
  }

  .header__icon-menu {
    width: 24px;
    height: 24px;
  }

  .header__icon {
    width: 30px;
    height: 30px;
  }

  .header__btn-icon {
    font-size: 12px;
  }

  .search__input {
    padding: 11px 112px 15px 30px;
    font-size: 12px;
  }

  .search__btn {
    padding: 6px 26px;
  }

  .header__btns {
    gap: 30px;
  }
}

@media (max-width: 590px) {
  .header {
    padding: 20px 0;
  }

  .header__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'logo logo' 'menu icon' 'search search';
    gap: 14px;
  }

  .header__logo {
    width: 114px;
    padding-top: 5px;
  }

  .header__btn {
    width: 79px;
    height: 30px;
    padding: 5px 14px 7px 15px;
    font-size: 12px;
    border-radius: 4px;
  }

  .header__btn-icon-text {
    display: none;
  }

  .search__input {
    padding: 9px 66px 11px 16px;
    font-size: 8px;
  }

  .search__btn {
    top: initial;
    padding: 5px 15px;
  }

  .search__icon {
    width: 20px;
    height: 20px;
  }

  .header__btns {
    gap: 20px;
  }
}
